<div class="container" >
    <div class="title" style="display: flex; align-items: center; padding-bottom: 30px;" >
        <img src="https://cdn-icons-png.flaticon.com/512/6662/6662916.png" alt="icon-1"  style="max-width: 40px;">
        <h3>Applify</h3>
    </div>

    <div class="buttons">
        <h4><i class="fa-solid fa-gauge"></i> Dashboard</h4>
        <h4><i class="fa-solid fa-tower-observation"></i> Jobs</h4>
        <h4><i class="fa-solid fa-tower-observation"></i> Schedule</h4>
        <h4><i class="fa-solid fa-gauge"></i> Documents</h4>
        <h4><i class="fa-solid fa-tower-observation"></i> statitics</h4>
        <h4><i class="fa-solid fa-tower-observation"></i> community</h4>
        <h4><i class="fa-solid fa-tower-observation"></i> Messages</h4>
        <h4><i class="fa-solid fa-tower-observation"></i> Logout</h4>
    </div>

    <div class="boottom-img">
        <img style="max-width: 130px; max-height: 150px; min-height: 150px; width: 100%;" src="https://ouch-cdn2.icons8.com/FFIZIohw-_znMHOqzh1vy3rrsrKpNQLCqQXRjVuj6mY/rs:fit:456:456/extend:true/wm:1:re:0:0:0.8/wmid:ouch/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9zdmcvMTc5/LzAxZDVjZGQwLTZk/ZWEtNDZlMS1iMzFj/LWFmZTFjYmI3M2Zk/NC5zdmc.png" alt="">
    </div>

</div>